body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgba(5, 5, 5, 1), rgba(5, 5, 5, 0.8));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

html {
    height: 100%;
}

ul {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 10px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #3f3f3f;
    padding: 10px;
}

li a {
    padding: 10px;
    margin-top: 10px;
    display: block;
    color: #f1faee;
    text-decoration: none;
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}

.icono {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

li a:hover {
    background-color: #8db8bb;
    border-radius: 20px;
}

.titulos {
    color: #f1faee;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.titulos_2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.parrafos_titulos {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: crimson;
    font-family: 'DM Sans', sans-serif;
}

.referencia {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}

.referencia:hover {
    color: crimson;
}

.contenedor {
    padding-top: 30px;
    padding-bottom: 40px;
    max-width: 800px;
    margin: 0 auto;
}

p {
    color: white;
}

.Btn {
    background-color: #25d366;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    transition: 0.3s ease;
    margin-top: 10px; /* Añadir margen superior */
}

.Btn:hover {
    background-color: #128c7e;
}

.svgContainer {
    display: inline-block;
    vertical-align: middle;
}

.BG {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

